@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-pink text-white min-h-screen font-sans;
}

/* Animations */
@keyframes fade {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade {
  animation: fade 0.8s ease forwards;
}